<div ng-app="app">
  <div ng-controller ="todoCtrl">
    <h1>To Do App</h1>
    <li ng-repeat="task in tasks track by $index" ng-click="deleteTask($index)" ng-if="isPositive(task)"> <!--track by key instead of name-->
      {{ task }} <!--list out all tasks-->
    </li>

    <input ng-model="newTask">
    <button ng-click="addTask(newTask)">Add Task</button>
  </div>
</div>
